<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam
      molestias repellat repellendus, unde corrupti dolorem. Non explicabo
      debitis hic accusamus eum numquam ipsum, impedit, sunt sed minima, error
      fuga!
    </p>
  </header>
  <div class="card card--primary">
    <header class="card__header">Card title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad blanditiis
      velit ducimus reiciendis ratione vitae temporibus exercitationem modi
      dolorem aspernatur!
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quisquam
      molestias repellat repellendus, unde corrupti dolorem. Non explicabo
      debitis hic accusamus eum numquam ipsum, impedit, sunt sed minima, error
      fuga!
    </p>
  </div>
</section>
